// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#todonav {
  margin: 0;
  padding: 0;
  //float: left;
  //position: static;
  //list-style-type: nones  ;
  height:31px;

  li {
    //position: relative;
    width:60px;
    height:30px;
    margin: 0 0 0 1px;

    display: inline-table;
    //list-style-type: none;
    overflow: hidden;

    a {
      //display: block;
      height:30px;
      vertical-align: middle;
      margin-top: 0;
      padding: 0;
      font-size: 12px;
      overflow: hidden;
    }
  }
}

ul#todolist {
  //float: right;
  width: 100%;
}
