<div id="todo-list">
  <div data-role='navbar'>
    <ul>
      <li><%= link_to "#{t('.show_all')} (#{@size_all})",  {todo_list_cond: :all}%></li>
      <li><%= link_to "#{t('.only_incomplete')} (#{@size_incomplete})", {todo_list_cond: :incomplete} %></li>
      <li><%= link_to "#{t('.only_complete')} (#{@size_complete})", {action: :index, todo_list_cond: :complete} %></li>
    </ul>
  </div>
<ul data-role="listview">
  <% @todos.each do |todo| %>
   <li><%= link_to todo.title, todo, data: {ajax: true, icon: :check, transition: :slide} %></li>
  <% end %>
</ul>
</div>