<div data-role="header" id="header">
  <%= link_to 'Back', todos_path, class: 'ui-btn-left', data: {role: :button, icon: 'arrow-l',transition: :slide, direction: :reverse} %>
  <h1 id="pageTitle" class>Editing Todo</h1>
</div>
<%= render 'form' %>
