
<div class="panel" id="main" data-header="custom_header">
  <%= render 'form' %>
</div>
<header id="custom_header">
  <h1>Editing Todo</h1>
  <%= link_to 'Back', todos_path, class: "button", id: "backButton", data: {ignore: true} %>

</header>
