
  <div title='Todo' id="main" class="panel" selected="true">This is a basic skeleton jqUi sample</div>

  <%= render 'todos' %>

<br />
<%= link_to content_tag(:span, '', class: "ui-icon ui-icon-plusthick") + t('.new_todo').html_safe, new_todo_path,
            data: {ajax: false} %>
