  <div class="panel" id="main" data-header="custom_header" >
    <%= render 'todos' %>
  </div>
  <header id="custom_header">
    <h1>Todo</h1>
    <%= link_to 'Home', root_path, class: 'button icon home', style: 'float:left', data: {ignore: true} %>
    <%= link_to t('.new_todo'), new_todo_path, class: 'button icon add', style: 'float:right', data: {ignore: true} %>
  </header>


